
.jaxrs-static-menu {
  width: 18% !important;
	background: #191818;
}

.jaxrs-static-menu.pure-menu-open,
.jaxrs-static-menu.pure-menu-horizontal li .pure-menu-children {
  background: #191818;
}

.jaxrs-static-menu .pure-menu-selected {
  background: #777;
}

.jaxrs-static-menu .pure-menu-selected a:hover,
.jaxrs-static-menu .pure-menu-selected a:focus {
  background: #777;
  cursor: default;
}

.jaxrs-static-menu .pure-menu-heading {
  background: #1f8dd6;
  font-size: 110%;
  color: #fff;
  margin: 0;
  cursor: default;
}

.jaxrs-static-content {
  padding-left: 1em;
	padding-right: 1em;
}
